// Для импорта в диспетчер подключений: @import './src/less/blocks/main-menu.less';


.main-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: baseline;
	align-items: baseline;
	margin-left: 10%;

	@media(max-width: @screen-md) and (min-width: @screen-sm) {
		position: absolute;
		height: 100vh;
		display: none;
		top: 100%;
		right: 0;
		background-color: @dark-gray-color;
		padding: 0px 10px;
		z-index: 9999;
	}
	@media(max-width: @screen-md) and (min-width: @screen-sm) {
		&--active {
			right: 0;
		}
	}


	&__item {
		list-style-type: none;
	}
	&__link {
		color: rgb(255, 255, 255);
		font-weight: bold;
		text-decoration: none;
		line-height: 2.084;
		margin-right: 60px;
		display: inline-block;
		transition: 0.3s;

		&:hover {
			transition: 0.3s;
			color: #e5ddad;
		}

		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			padding: 10px 0;
			width: 100%;
			margin-right: 28px;
		}
	}
}
