// Для импорта в диспетчер подключений: @import './src/less/blocks/page-footer.less';


.page-footer {
	background-color: @deep-yellow-color;
	padding: 15px 0;

	.container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
	}

	&__text {
		font-size: 18px;
		color: #2b2b2b;
		line-height: 1.2;
		text-align: left;
		width: 55%;
		margin-right: auto;
		margin-left: 30px;
	}
}
