// Для импорта в диспетчер подключений: @import './src/less/blocks/promo.less';


.promo {
	background-color: @yellow-color;
	padding: 130px 0 380px 0;
	height: 100vh;

	&__box {
		margin-left: 15%;
	}

	&__title {
		font-size: 97px;
		color: @black-color;
		font-weight: bold;
		line-height: 0.642;
		margin-bottom: 40px;
	}
	&__text {
		font-size: 30px;
		color: @black-color;
		line-height: 1.2;
		text-align: left;
		width: 55%;
		margin-bottom: 50px;
	}

	&__btn {
		border-radius: 10px;
		background-color: @dark-gray-color;
		display: inline-block;
		height: 60px;
		font-size: 30px;
		color: #fff;
		font-weight: bold;
		line-height: 59px;
		padding: 0 25px;
		text-decoration: none;
		text-align: center;
	}

}
