// Для импорта в диспетчер подключений: @import './src/less/blocks/task.less';


.task {
	background-color: @dark-gray-color;
	padding: 230px 0 200px 0;
	background-image: url('/img/big_bgr.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;

	@media(max-width: @screen-lg) and (min-width: @screen-md) {
		padding-top: 100px;
	}
	@media(max-width: @screen-md) and (min-width: @screen-sm) {
		padding: 80px 0 210px 0;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 435px;
		height: 670px;
		background-repeat: no-repeat;
		background-image: url('/img/omg_logo.png');
		position: absolute;
		top: 0;
		right: 0;
		-webkit-background-size: contain;
		background-size: contain;
		@media(max-width: @screen-lg) and (min-width: @screen-md) {
			width: 212px;
			height: 340px;
		}
		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			display: none;
		}
	}
	&:before {
		content: '';
		display: inline-block;
		width: 392px;
		height: 455px;
		background-repeat: no-repeat;
		background-image: url('/img/girl.png');
		position: absolute;
		bottom: 0;
		left: 0;
		-webkit-background-size: contain;
		background-size: contain;
		@media(max-width: @screen-lg) and (min-width: @screen-md) {
			width: 322px;
			height: 373px;
		}
		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			background-image: url('/img/girl1.png');
			width: 182px;
			height: 193px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
		-ms-align-items: flex-start;
		align-items: flex-start;
		width: 50%;
		margin: 0 auto;
		padding-top: 100px;

		@media(max-width: @screen-lg) and (min-width: @screen-md) {
			width: 75%;
			padding-top: 50px;
		}
		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			padding-top: 30px;
			width: 100%;
		}
	}
	&__item {
		flex-basis: 50%;
		list-style-type: none;
		padding: 0 20px;
		padding-bottom: 50px;

		&:last-of-type {
			padding-bottom: 0;
		}
		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			flex-basis: 100%;
		}
	}
	&__title {
		font-size: 70px;
		color: #fff;
		font-weight: bold;
		line-height: 1;
		text-align: center;
		@media(max-width: @screen-lg) and (min-width: @screen-md) {
			font-size: 44px;
		}
		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			font-size: 38px;
		}
	}
	&__number {
		font-size: 96px;
		color: @yellow-color;
		font-weight: bold;
		line-height: 0.992;
		text-align: center;
		@media(max-width: @screen-lg) and (min-width: @screen-md) {
			font-size: 68px;
		}
		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			font-size: 58px;
		}
	}
	&__text {
		font-size: 24px;
		color: #fff;
		line-height: 1.2;
		text-align: center;
		@media(max-width: @screen-lg) and (min-width: @screen-md) {
			font-size: 18px;
		}
		@media(max-width: @screen-md) and (min-width: @screen-sm) {
			font-size: 14px;
		}
	}
}